.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/images/image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.register-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.register-card {
  position: relative;
  z-index: 1;

  width: 400px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  text-align: center;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  border-radius: 15px;
}

.register-card h1 {
  color: white;
  font-size: 2rem;
}

.register-card h2 {
  color: white;
}

.register-card p {
  color: white;
}

.register-card input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.register-btn,
.login-btn {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn {
  background: #ff6b57;
  color: white;
  border: none;
}

.register-btn:hover {
  opacity: 0.9;
}

.login-text {
  color: white;
  margin-top: 10px;
}

.login-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}